.custom-input {
    width: 100%;
    border: 1px solid rgb(122, 118, 118);
    border-radius:20px; /* Bordes redondead    os */
    text-align: center;
    --padding-start: 10px;
    --padding-end: 10px;
    margin-top: 10px;
}  

.custom-etiqueta {
    display: inline-block;
    margin-top: 8px;
    padding-top: 20px;
    font-size: 15px;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
  
  }

