<ion-header [translucent]="true">
  <ion-toolbar style="--background: red">
    <ion-back-button></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    --background: #ffffff;
    padding: 10px;
  "
>
  <h2
    style="
      display: flex;
      justify-content: center;
      color: red;
      font-weight: bold;
    "
  >
    Registro
  </h2>

  <form
    style="width: 100%"
    padding="10px"
    justify-content="center"
    margin-top="25px"
    [formGroup]="registerForm"
    (ngSubmit)="save()"
  >
    <div style="margin-bottom: 8px; --background: white">
      <!-- Nombres -->
      <ion-icon name="person-outline"></ion-icon>
      <ion-label class="custom-etiqueta"><strong>Nombre *</strong>
      <ion-note class="form--error-message">
        <span *ngIf="isNameNull"> Los Nombres son Requeridos. *</span>
      </ion-note>
    </ion-label>
      <ion-input
        class="custom-input"
        [ngClass]="{'ionInputStyle': !isNameNull, 'ionInputStyle-invalid': isNameNull}"
     
        type="text"
        formControlName="name"
        ngDefaultControl
      >
      </ion-input>
      <br />

      <!-- Apellidos -->
      <ion-icon name="person-outline"></ion-icon>
      <ion-label class="custom-etiqueta"><strong>Apellidos *</strong></ion-label>
      <ion-note class="form--error-message">
        <span *ngIf="isApellidoNull"> Los Apellidos son Requeridos. *</span>
      </ion-note>

      <ion-input
        class="custom-input"
        [ngClass]="{'ionInputStyle': !isApellidoNull, 'ionInputStyle-invalid': isApellidoNull}"

        type="text"
        formControlName="apellido"
        ngDefaultControl
      >
      </ion-input>
      <br />

      <!-- Correo -->
      <ion-icon name="at-outline"></ion-icon>
      <ion-label class="custom-etiqueta"><strong>Correo Electrónico *</strong></ion-label>
        <ion-note class="form--error-message">
          <span *ngIf="isEmailRequired || isEmailInvalid">
            El correo es Requerido y debe ser válido. *</span
          >
        </ion-note>
      
      <ion-input
        class="custom-input"
        type="email"
        [ngClass]="{'ionInputStyle': !isEmailRequired && !isEmailInvalid, 'ionInputStyle-invalid': isEmailRequired || isEmailInvalid}"
        formControlName="email"
        ngDefaultControl
      >
      </ion-input>
      <br />

      <!-- DNI -->
      <ion-item class="custom-item">
        <ion-icon name="id-card-outline" slot="start"></ion-icon>
        <ion-label class="custom-etiqueta"><strong>DNI *</strong></ion-label>
        <ion-note
          class="form--error-message"
          *ngIf="dniValidationErrors.minLengthInvalid || dniValidationErrors.maxLengthInvalid || dniValidationErrors.hasLettersOrSpaces"
          [ngClass]="{
            'min-length-invalid': dniValidationErrors.minLengthInvalid,
            'max-length-invalid': dniValidationErrors.maxLengthInvalid,
            'has-letters-or-spaces': dniValidationErrors.hasLettersOrSpaces
          }"
        >
          <span *ngIf="dniValidationErrors.minLengthInvalid">El DNI es demasiado corto.</span>
          <span *ngIf="dniValidationErrors.maxLengthInvalid">El DNI es demasiado largo.</span>
          <span *ngIf="dniValidationErrors.hasLettersOrSpaces">El DNI no debe contener letras o espacios.</span>
        </ion-note>
      </ion-item>
      
      <ion-item class="custom-item">
        <ion-input
          class="custom-input"
          formControlName="dni"
          ngDefaultControl
          type="number"
          [ngClass]="{
            'ionInputStyle': !dniValidationErrors.minLengthInvalid && !dniValidationErrors.maxLengthInvalid && !dniValidationErrors.hasLettersOrSpaces,
            'ionInputStyle-invalid': dniValidationErrors.minLengthInvalid || dniValidationErrors.maxLengthInvalid || dniValidationErrors.hasLettersOrSpaces
          }"
        ></ion-input>
      </ion-item>
    
      <br />

      <!-- Telefono -->
      <ion-icon name="call-outline"></ion-icon>
      <ion-label class="custom-etiqueta"><strong>Telefono *</strong>
        <ion-note class="form--error-message" *ngIf="isPhoneInvalid">
          El Teléfono es obligatorio y no puede ser menor de 8 dígitos. *
        </ion-note>
     </ion-label>

      <ion-input
        class="custom-input"
        type="tel"
        formControlName="phone"
        ngDefaultControl
        [ngClass]="{
            'ionInputStyle': !isPhoneInvalid,
            'ionInputStyle-invalid': isPhoneInvalid
          }"
      >
      </ion-input>

      <br />

      <!-- Botón de registro -->
      <div style="justify-content: center; margin-top: 20px">
        <ion-button
          type="submit"
          color="danger"
          expand="block"
          [disabled]="isFormInvalid"
        >
          <ion-spinner *ngIf="spinner" style="margin-right: 10px"></ion-spinner>
          Sign Up
        </ion-button>
      </div>
    </div>
  </form>
</ion-content>
