<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <p (click)="goToLogin()">
      <ion-icon id="arrow" name="arrow-back-outline"></ion-icon>
    </p>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content [fullscreen]="true" [ngClass]="'Content'"> 
    <h2 style="text-align: center; color: red; font-weight: bold">
      Recupera el acceso a tu cuenta
    </h2>
    <span
      style="text-align: center; color: rgb(43, 40, 40); font-weight: lighter"
      >Proporciona tu dirección de correo eléctronico para restablecer tu
      contraseña</span
    >

    <form
      style="width: 100%"
      [formGroup]="PasswordResetForm"
      (ngSubmit)="onSubmit()"
    >
      <div [ngClass]="'divForm'">
        <ion-item>
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input formControlName="correo" type="text"></ion-input>
          <ion-note color="danger" *ngIf="isEmailInvalid || isEmailInvalid">
            <span *ngIf="isEmailRequired">El correo es necesario!</span>
            <span *ngIf="isEmailInvalid">El correo es invalido!</span>
          </ion-note>
        </ion-item>

        <ion-button
          type="submit"
          id="reset-btn"
          color="danger"
          [disabled]="isFormInvalid || disabled"
        >
          Continuar, para envio de correo
          <ion-spinner *ngIf="spinner"></ion-spinner>
        </ion-button>
      </div>
    </form>
  </ion-content>
</ion-content>
