#arrow {
  size: 20px;
  color: white;
  width: 45px;
  height: 25px;
  margin-left: 10px;
  cursor: pointer;
}

#reset-btn {
  --border-radius: 20px !important;
   padding-left: 15px;
  margin-top: 20px !important;

}

ion-button {
  text-transform: none; 
  text-emphasis-color: #0e911f11;
font-style: inherit;  
}
  
  .center-container {
      display:flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      text-align: center;
  }