.custom-input {
    width: 100%;
    border: 1px solid rgb(122, 118, 118);
    border-radius:20px; /* Bordes redondead    os */
    text-align: center;
    --padding-start: 10px;
    --padding-end: 10px;
    margin-top: 10px;
}  

.custom-etiqueta {
    display: inline-block;
    margin-top: 8px;
    padding-top: 20px;
    font-size: 15px;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
  
  }

  ion-button {
    text-transform: none; 
    text-emphasis-color: #0e911f11;
  font-style: inherit;  
}

.google-logo {
  width: 24px; /* Ajusta el tamaño según sea necesario */
  height: 24px;
  margin-right: 8px; /* Espacio entre el logo y el texto */
  vertical-align: middle; /* Alinea verticalmente con el texto */
}

#or-options {
  border-bottom: 10px;
  --height: 18px !important;
  margin-bottom: 18px;
}

#or-oprtions>ion-text {
  --font-size: 10px;
  --text-align: center !important;

}
#google-btn {
  --border-radius: 20px !important;
  margin-top: 10px;
  --border-color: rgb(199, 199, 199) !important;
}

#google-btn > p {
  --font-size: 10px;
  font-family: 'Roboto', sans-serif !important;
  margin-left: 16px;
  color: rgb(63, 62, 62);
}

#forgotten-pass{
  cursor: pointer;
  color: rgb(81, 141, 94);
  border: none;
  text-align: end;
  font-size: smaller;
  margin-top: 10px;
}


.center-container {
  text-align: center;
  margin: 20px 0;
}

.spanRedirect {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}


