<ion-header [translucent]="true">
  <ion-toolbar style="--background: red">
    <ion-back-button></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    --background: #ffffff;
    padding: 10px;
  "
>
  <h2
    style="
      display: flex;
      justify-content: center;
      color: red;
      font-weight: bold;
    "
  >
    Registro
  </h2>

  <form
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
    style="width: 100%; padding: 10px"
  >
    <!-- Nombres -->
    <ion-icon name="person-outline"></ion-icon>
    <ion-label class="custom-etiqueta"><strong>Nombre *</strong></ion-label>
    <ion-input
      id="name-input"
      class="custom-input"
      [ngClass]="{'ionInputStyle': !isNameRequired, 'ionInputStyle-invalid': isNameRequired}"
      type="text"
      formControlName="name"
    >
    </ion-input>
    <ion-note class="form--error-message" slot="end">
      <span *ngIf="isNameRequired">Los Nombres son Requeridos. *</span>
    </ion-note>
    <br />
    <br />

    <!-- Apellidos -->
    <ion-icon name="person-outline"></ion-icon>
    <ion-label class="custom-etiqueta"><strong>Apellidos *</strong></ion-label>
    <ion-input
      id="apellido-input"
      class="custom-input"
      [ngClass]="{'ionInputStyle': !isLastnameRequired, 'ionInputStyle-invalid': isLastnameRequired}"
      type="text"
      formControlName="lastname"
    >
    </ion-input>
    <ion-note class="form--error-message">
      <span *ngIf="isLastnameRequired">Los Apellidos son Requeridos. *</span>
    </ion-note>
    <br />

    <!-- Correo -->
    <ion-icon name="at-outline"></ion-icon>
    <ion-label class="custom-etiqueta"
      ><strong>Correo Electrónico *</strong></ion-label
    >
    <ion-input
      id="email-input"
      class="custom-input"
      type="email"
      [ngClass]="{'ionInputStyle': !isEmailRequired && !isEmailInvalid, 'ionInputStyle-invalid': isEmailRequired || isEmailInvalid}"
      formControlName="email"
    >
    </ion-input>
    <ion-note class="form--error-message">
      <span *ngIf="isEmailRequired || isEmailInvalid"
        >El correo es Requerido y debe ser válido. *</span
      >
    </ion-note>
    <br />

    <!-- Contraseña -->
    <ion-icon name="lock-closed-outline"></ion-icon>
    <ion-label class="custom-etiqueta"><strong>Contraseña *</strong></ion-label>
    <ion-input
      id="password-input"
      class="custom-input"
      type="password"
      [ngClass]="{'ionInputStyle': !isPasswordInvalid, 'ionInputStyle-invalid': isPasswordInvalid}"
      formControlName="password"
    >
      <ion-input-password-toggle slot="end" color="dark"></ion-input-password-toggle>
    </ion-input>
    <ion-note class="form--error-message">
      <span *ngIf="isPasswordInvalid"
        >La contraseña es requerida y debe tener al menos 6 caracteres. *</span
      >
    </ion-note>
    <br />

    <!-- DNI -->
    <ion-icon class="icono" name="id-card-outline" slot="start"></ion-icon>
    <ion-label class="custom-etiqueta"><strong>DNI *</strong></ion-label>
    <ion-input
      id="dni-input"
      class="custom-input"
      type="number"
      formControlName="dni"
      [ngClass]="{
          'ionInputStyle': !dniValidationErrors.minLengthInvalid && !dniValidationErrors.maxLengthInvalid && !dniValidationErrors.hasLettersOrSpaces,
          'ionInputStyle-invalid': dniValidationErrors.minLengthInvalid || dniValidationErrors.maxLengthInvalid || dniValidationErrors.hasLettersOrSpaces
        }"
    >
    </ion-input>
    <ion-note
      class="form--error-message"
      *ngIf="dniValidationErrors.minLengthInvalid || dniValidationErrors.maxLengthInvalid || dniValidationErrors.hasLettersOrSpaces"
    >
      <span *ngIf="dniValidationErrors.minLengthInvalid"
        >El DNI es demasiado corto.</span
      >
      <span *ngIf="dniValidationErrors.maxLengthInvalid"
        >El DNI es demasiado largo.</span
      >
      <span *ngIf="dniValidationErrors.hasLettersOrSpaces"
        >El DNI no debe contener letras o espacios.</span
      >
    </ion-note>
    <br />

    <!-- Teléfono -->
    <ion-icon name="call-outline"></ion-icon>
    <ion-label class="custom-etiqueta"><strong>Teléfono *</strong></ion-label>
    <ion-input
      id="phone-input"
      class="custom-input"
      type="tel"
      formControlName="phone"
      [ngClass]="{
          'ionInputStyle': !isPhoneInvalid,
          'ionInputStyle-invalid': isPhoneInvalid
        }"
    >
    </ion-input>
    <ion-note class="form--error-message" *ngIf="isPhoneInvalid"
      >El Teléfono es obligatorio y no puede ser menor de 8 dígitos. *</ion-note
    >
    <br />

    <!-- Botón de registro -->
    <ion-button
      type="submit"
      color="success"
      expand="block"
      [disabled]="isFormInvalid || disabled"
    >
      <ion-spinner *ngIf="spinner" slot="start"></ion-spinner>
      Crear Cuenta
    </ion-button>
  </form>
</ion-content>
